.Item {
  margin: 0 auto;
  max-width: 500px;
  padding-bottom: 30px;
}

.Item__carousel img {
  height: auto;
  width: 100%;
  border-radius: 5px;
}
.Item__display-price{
font-weight: bold;
}

.Item__add-basket, .Item__display-price {
  border-top: var(--border-light);
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}