.Payment {
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Payment__inline-div {
  display: flex;
  gap: 10px;
  width: 100%;
}

.Payment__inline-div .Payment__inline-child {
  flex-grow: 1;
}